.belsim-checkbox {
    input {
        width: auto;
    }
    .form-label {
        margin-left: 10px;
        user-select: none;
        margin-bottom: 0;
    }
    small {
        margin-top: 0;
    }
}