.project-products-resources-editor {
    .item-editor {
        height: 90px;
    }
    .actions {
        .create-button {
            float: right;
        }
        margin-bottom: 5px;
    }
    .ag-theme-balham {
        height: 65vh;
        width: 100%;
    }

    .help {
        margin-top: 10px;
        text-align: center;
        font-size: 80%;
        color: gray;
    }

    .right-panel {
        border-left: 1px solid #208fa0;
    }
}