.finance-editor {
    .belsim-checkbox {
        margin-top: 10px;
        label {
            white-space: normal;
            margin-left: 30px;
            text-indent: 0;
            margin-top: -12px;
        }
    }

    .ag-theme-balham {
        height: 35vh;
        width: 100%;
    }
}