.project-details {
    .templates-list {
        display: flex;
        flex-wrap: wrap;

        .template-card {
            margin: 20px;
        }
    }
    .actions {
        width: 95%;
        text-align: right;
        margin: 10px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #208fa0;
    }
}