.template-editor {
    .edit-form {
        margin: auto;
        width: 95%;
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .editor {
            flex: 0 0 100%;
            align-self: stretch;

            .error {
                font-size: 80%;
                color: #dc3545;
            }
            .belsim-input {
                height: 90px;
                margin-bottom: 0;
            }

            .title {
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .template-saving {
        width: 95%;
        text-align: right;
        margin: 10px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #208fa0;

        .change-time {
            font-size: 0.7em;
            font-style: italic;
            margin-right: 20px;
        }
    }
    .editors-list {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;

        .belsim-action-button {
            margin: 5px;
            background-color: #208fa0;
            border-color: #208fa0;
            
            &:hover {
                background-color: #1c4d54;
                border-color: #1c4d54;
            }

            &:focus {
                box-shadow: none;
            }
        }
        .belsim-active-menu {
            background-color: #1a616f;
        }
    }

    .editor-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .block-editor {
        border: 1px solid #e5e5e5;
        width: 320px;
        min-width: 320px;
        padding: 10px;
        padding-top: 0px;
        height: 100%;
        margin: 10px;

        .title {
        }
    }
}