.projects {
    width: 95%;
    margin: 0 auto;

    .projects-list {
        display: flex;
        flex-wrap: wrap;
    
        .project-card {
            margin: 20px;
        }
    }

    .admin-button {
        width: 95%;
        text-align: right;
        margin: 10px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #208fa0;

        button {
            line-height: 15px;
        }
    }
}