.belsim-header {
    background-color: #208fa0;

    .navbar-nav {
        .nav-link {
            color: white;
            font-weight: bold;

            &.active {
                color: #002429;
                &:hover {
                    color: #002429;
                    cursor: default;
                }
            }
        }
    
        .nav-link:hover {
            color: #1c4d54;
        }
    } 

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: white;
        font-weight: bold;
        user-select: none;
        cursor: default;
    }
}
    
.errors {
    width: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0.95;
    
    .alert {
        width: 100%;
        margin-bottom: 5px;
    }
}