body {
    background-color: #f1f9f9;
    margin-bottom: 10px;

    .belsim-action-button {
        height: 25px;
        line-height: 10px;

        a {
            height: 1.1em;
            width: 1.1em;
            color: white;
        }
    }

    .Select-control {
        height: 30px;
    
        .Select-placeholder {
          line-height: 26px;
        }
    
        .Select-value {
          line-height: 26px !important;
    
          .Select-value-label {
            line-height: 26px;
          }
        }
    
        .Select-input {
          height: 26px;
        }
      }
}